
@{
    ViewBag.Title = "notAuthorized";
}
<div class="well ">
    <h2>The Account you're trying to change is not your's</h2>
    Please @Html.ActionLink("return to the profile list","Index", "Profiles"), and don't try to acces others accounts
</div>

