
@{
    ViewBag.Title = "AddName";
}

<div class="well ">
    <h2 style="background-color: gold; color:lightsteelblue;text-align:center">You need to add your name to recognize someone</h2>
    <p style="background-color: gold; color: lightsteelblue; text-align: center">Please @Html.ActionLink("return to the recogniton list", "Index", "Recognitions"), add you name to the recognition</p>
</div>