
@{
    ViewBag.Title = "selfRecognition";
}

<div class="well ">
     <h2 style="background-color: gold; color:lightsteelblue;text-align:center">You tried to recognize yourself</h2>
     <p style="background-color: gold; color: lightsteelblue; text-align: center">Please @Html.ActionLink("return to the recogniton list", "Index", "Recognitions"), and don't try to recognize yourself</p>
</div>
