
@{
    ViewBag.Title = "selfRecognition";
}

<div class="well ">
     <h2>You tried to recognize yourself</h2>
    Please @Html.ActionLink("return to the recogniton list", "Index", "Recognitions"), and don't try to recognize yourself
</div>
