@{
    ViewBag.Title = "Who Is Centric?";
}
<h2>@ViewBag.Title.</h2>


<p>Centric is a business consulting frim located in Dayton Ohio.<br />
                                                                <br />
    Their main business operations include:<br />
    1.) Business Consulting<br />
    2.) Technology Services<br />
    3.) Digital Solutions<br />
</p>
