@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>

<address>
    1215 Lyons Road Building F<br />
    Dayton, OH 45458<br />
    <abbr title="Phone">P:</abbr>
    1-888-781-7567
</address>

