@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <html lang="en">
    <head>
        <title>Bootstrap Example</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    </head>
    <body>

        <div class="container">
            <h2>Carousel Example</h2>
            <div id="myCarousel" class="carousel slide" data-ride="carousel">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                    <li data-target="#myCarousel" data-slide-to="1"></li>
                    <li data-target="#myCarousel" data-slide-to="2"></li>
                </ol>

                <!-- Wrapper for slides -->
                <div class="carousel-inner">
                    <div class="item active">
                        <img src="https://centricconsulting.com/wp-content/uploads/2020/09/Why-were-here_Delivery-excellence.jpg" alt="Commit to Delivery Excellence" style="width:100%;">
                        <div class="carousel-caption"></div>
                        <h3>Commit to Delivery Excellence</h3>
                    </div>

                    <div class="item">
                        <img src="https://centricconsulting.com/wp-content/uploads/2020/09/Why-were-here_Integrity.jpg" alt="Embrace Integrity and Openness" style="width:100%;">
                        <div class="carousel-caption"></div>
                        <h3>Embrace Integrity and Openness</h3>
                    </div>

                    <div class="item">
                        <img src="https://centricconsulting.com/wp-content/uploads/2020/09/Why-were-here_stewardship.jpg" alt="Practice Responsible Stewardship" style="width:100%;">
                        <div class="carousel-caption"></div>
                        <h3>Practice Responsible Stewardship</h3>
                    </div>

                    <div class="item">
                        <img src=https://centricconsulting.com/wp-content/uploads/2020/09/Why-were-here_Exceptional-culture.jpg" alt="Invest in an Exceptional Culture" style="width:100%;">
                        <div class="carousel-caption"></div>
                        <h3>Invest in an Exceptional Culture</h3>
                    </div>

                    <div class="item">
                        <img src=https://centricconsulting.com/wp-content/uploads/2018/07/Boston-community.jpg" alt="Ignite Passion for the Greater Good" style="width:100%;">
                        <div class="carousel-caption"></div>
                        <h3>Ignite Passion for the Greater Good</h3>
                    </div>

                    <div class="item">
                        <img src=https://centricconsulting.com/wp-content/uploads/2020/09/Why-were-here_Strive-to-innovate.jpg" alt="Strive to Innovate" style="width:100%;">
                        <div class="carousel-caption"></div>
                        <h3>Strive to Innovate</h3>
                    </div>

                    <div class="item">
                        <img src=https://centricconsulting.com/wp-content/uploads/2020/09/Why-were-here_Balanced-life.jpg" alt="Live a Balanced Life" style="width:100%;">
                        <div class="carousel-caption"></div>
                        <h3>Live a Balanced Life</h3>
                    </div>
                </div>

                <!-- Left and right controls -->
                <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#myCarousel" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>

    </body>
</html>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Core Values</h2>
        <p>
            <div class="container">
                <h2>Core Values</h2>
        <p>Centric follows a set of core values that allows them to continuously grow as a company.</p>
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>Core Values</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                <tr class="warning">
                    <td>Commit to Delivery Excellence</td>
                </tr>
                </thead>
            <tbody>
                <tr>
                <tr class="warning">
                    <td>Embrace Integrity and Openness</td>
                </tr>
                </thead>
            <tbody>
                <tr>
                <tr class="warning">
                    <td>Practice Responsible Stewardship</td>
                </tr>
                </thead>
            <tbody>
                <tr>
                <tr class="warning">
                    <td>Invest in an Exceptional Culture</td>
                </tr>
                </thead>
            <tbody>
                <tr>
                <tr class="warning">
                    <td>Ignite Passion for the Greater Good</td>
                </tr>
                </thead>
            <tbody>
                <tr>
                <tr class="warning">
                    <td>Strive to Innovate</td>
                </tr>
                </thead>
            <tbody>
                <tr>
                <tr class="warning">
                    <td>Live a Balanced Life</td>

                </tr>
            </tbody>
        </table>
    </div>
    </p>
    <p><a class="btn btn-default" href="https://centricconsulting.com/about-us/why-were-here/">Learn more &raquo;</a></p>
</div>
    
</div>